<launch>
    <param name="robot_description" textfile="/home/acca/catkin_ws/src/PID/urdf/urdf.urdf"></param>
    <node pkg="robot_state_publisher" type="state_publisher" name="robot_state_publisher"></node>

    <param name="use_gui" value="true"></param>
    <node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher"></node>

    <!-- rviz -->
    <node type="rviz" name="rviz" pkg="rviz" args="-d $(find PID)/launch/rviz.rviz" />

</launch>